<footer class="section-padding--sm footer">
  <ul class="footer__social">
    {{#if @blog.facebook}}
      <li><a class="fa fa-lg fa-facebook" href="{{facebook_url}}" target="_blank"></a></li>
    {{/if}}
    {{#if @blog.twitter}}
      <li><a class="fa fa-lg fa-twitter" href="{{twitter_url}}" target="_blank"></a></li>
    {{/if}}
  </ul>
</footer>
